<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy {{ item.name }}</title>
</head>
<body>
    <h1>{{ item.name }}</h1>
    <p>{{ item.description }}</p>
    <p>Price: ${{ item.price }}</p>
    <button id="buy-btn">Buy</button>

    <script src="https://js.stripe.com/v3/"></script>
    <script>
        document.getElementById('buy-btn').addEventListener('click', function() {
            fetch('/buy/{{ item.id }}/')
                .then(response => response.json())
                .then(data => {
                    var stripe = Stripe('pk_test_51OoUYTGgS7Y3554YB6II4tZiSzjExR2D7uTxUMyrXrgeSnHBAvBlf5m8B2fohAkdwhAs8l1JyGnWutldRq8CjP3b00ozbXx84U');
                    stripe.redirectToCheckout({sessionId: data.session_id});
                });
        });
    </script>
</body>
</html>
